<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %> 
  <ul>
    <% heroes.forEach(hero => { %>
      <li>
        <a href="/heroes/<%= hero.id %>"><strong><%= hero.heroName %></strong></a>
        -
        <%= hero.blurb %> 
      </li>
    <% }) %>
  </ul>
<%- include('../partials/footer.ejs') %>
