<%- include('../partials/head.ejs') %>
  <%- include('../partials/nav.ejs') %> 
    <h2><%= hero.heroName %></h2>
    <strong><p>Hero Profile #<%= hero.id %></p></strong>
    <p><%= hero.info %></p>
<%- include('../partials/footer.ejs') %> >
    