<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
  <%- include('../partials/nav.ejs') %> 
  </body>
  <h2><%= hero.heroName %></h2>
  <p>Hero Profile #<%= hero.id %></p>
  <p>INFO -- <%= hero.info %></p>
</html>
